{% extends 'apollo/_base.html' %}

{% block content %}
  <a href="{% url 'apollo:log_out' %}">Log out</a>
  <br><br>
  <div id="targetWord"> If you see this text, on connect consumer is not working. </div>
  <div id="activeUsers"></div>
	<div id="wordOptions"></div>
	<br>
	<table id="leaderboard"></table>
{% endblock content %}


{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open(evt) {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);

      // Update target word
      if (data['targetWord']) {
      	$('#targetWord')[0].innerHTML = String(data['targetWord']);
      }

      // Update active users
      if (data['activeUsers']) {
      	$('#activeUsers')[0].innerHTML = String(data['activeUsers']);
      }

      // Update word options
      if (data['wordOptions']) {
      	for (var i = data['wordOptions'].length - 1; i >= 0; i--) {
      		$('#wordOptions').append(
      		'<button type="button" class="optionButton" onclick="wordClick(value)" value=' + String(data['wordOptions'][i]) + '>' + String(data['wordOptions'][i]) + '</button>'
      		);	
      	}
      }

      // Update leaderboard
      if (data['leaderboard']) {
      	console.log(data['leaderboard']);
      	for (var i = data['leaderboard'].length - 1; i >= 0; i--) {
      		$('#leaderboard').append(
      		'<tr><td>'+ data['leaderboard'][i]['name'] +'</td><td>'+ data['leaderboard'][i]['points'] + '</td></tr>'
      		);	
      	}
      }
    };

    function wordClick(value) {
    	var message = {
    		'word': value,
    	}
    	socket.send(JSON.stringify(message));
    }

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}